var data = [
    {
        "pregunta": "Mi primera pregunta",
        "respuestas": [
            ["Mi primera respuesta", true],
            ["Mi segunda respuesta", true],
            ["Mi tercera respuesta", false],
            ["Mi cuarta respuesta", false]
        ]
    },
    {
        "pregunta": "Mi segunda pregunta",
        "respuestas": [
            ["Mi quinta respuesta", false],
            ["Mi sexta respuesta", true],
            ["Mi séptima respuesta", false],
            ["Mi octava respuesta", true]
        ]
    }
];
